.social {
    display: flex;
    align-items: center;
    flex-direction: column;
    // gap: 10px;

    border: 1px solid $base-borderline-25;
    border-radius: 24px;
    padding: 28px 24px;
    width: 320px;
    height: 351px;
    min-width: 320px;
    max-width: 390px;

    box-shadow: 0 32px 64px -12px rgba(98, 173, 226, 0.5);
    background: $white;

    > a:first-of-type {
        margin-bottom: 12px;
    }

    p {
        font-family: $font-family;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(8, 10, 15, 0.95);

        margin-bottom: 32px;
    }

    .social__links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 16px;

        > a {
            padding: 0 0;
            width: 84px;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    > a:last-of-type {
        margin-top: 16px;
        width: 100%;
    }
}
